<div class="m-2 p-4 border border-warning">
    <h3 class="text-warning">Child</h3>
    <input type="date" @bind="BoundDate" />

    <GrandChild @bind-Date="BoundDate" />
</div>

@code {
    [Parameter]
    public DateTime Date { get; set; }

    [Parameter]
    public EventCallback<DateTime> DateChanged { get; set; }

    private DateTime BoundDate
    {
        get => Date;
        set => DateChanged.InvokeAsync(value);
    }
}
