@inherits LayoutComponentBase
@layout MainLayout

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <h3 class="custom-header">This is CustomLayout, which uses MainLayout</h3>

    <div class="m-5 border border-danger">
        @Body
    </div>

</div>