<div class="m-2 p-4 border border-dark">
    <h3 class="text-dark">GrandChild</h3>
    <input type="date" @bind="BoundDate" />
</div>


@code {
    [Parameter]
    public DateTime Date { get; set; }

    [Parameter]
    public EventCallback<DateTime> DateChanged { get; set; }


    private DateTime BoundDate
    {
        get => Date;
        set => DateChanged.InvokeAsync(value);
    }
}
